In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("MovieGenre.csv")
print(df.shape)
df.head(5)

(40108, 6)

,imdbId,Imdb Link,Title,IMDB Score,Genre,Poster
0,114709,http://www.imdb.com/title/tt114709,Toy Story (1995),8.3,Animation|Adventure|Comedy,https://images-na.ssl-images-amazon.com/images...
1,113497,http://www.imdb.com/title/tt113497,Jumanji (1995),6.9,Action|Adventure|Family,https://images-na.ssl-images-amazon.com/images...
2,113228,http://www.imdb.com/title/tt113228,Grumpier Old Men (1995),6.6,Comedy|Romance,https://images-na.ssl-images-amazon.com/images...
3,114885,http://www.imdb.com/title/tt114885,Waiting to Exhale (1995),5.7,Comedy|Drama|Romance,https://images-na.ssl-images-amazon.com/images...
4,113041,http://www.imdb.com/title/tt113041,Father of the Bride Part II (1995),5.9,Comedy|Family|Romance,https://images-na.ssl-images-amazon.com/images...

In [3]:
#ensure everything is unique except for score and genre
print(df['imdbId'].is_unique)
print(len(df['imdbId']) - df['imdbId'].nunique())

print(df['Imdb Link'].is_unique)
print(len(df['Imdb Link']) - df['Imdb Link'].nunique())

print(df['Title'].is_unique)
print(len(df['Title']) - df['Title'].nunique())

print(df['Poster'].is_unique)
print(len(df['Poster']) - df['Poster'].nunique())

False
593
False
593
False
638
False
1454

In [4]:
#remove not unique values
df = df.drop_duplicates(subset=['imdbId'], keep=False)
df = df.drop_duplicates(subset=['Imdb Link'], keep=False)
df = df.drop_duplicates(subset=['Title'], keep=False)
df = df.drop_duplicates(subset=['Poster'], keep=False)

In [5]:
print(df['imdbId'].is_unique)
print(len(df['imdbId']) - df['imdbId'].nunique())

print(df['Imdb Link'].is_unique)
print(len(df['Imdb Link']) - df['Imdb Link'].nunique())

print(df['Title'].is_unique)
print(len(df['Title']) - df['Title'].nunique())

print(df['Poster'].is_unique)
print(len(df['Poster']) - df['Poster'].nunique())

True
0
True
0
True
0
True
0

In [6]:
#Check null values
df.isnull().sum()

imdbId          0
Imdb Link       0
Title           0
IMDB Score     17
Genre         119
Poster          0
dtype: int64

In [7]:
df = df.dropna(subset=['Genre'])
df.isnull().sum()

imdbId         0
Imdb Link      0
Title          0
IMDB Score    17
Genre          0
Poster         0
dtype: int64

In [8]:
print(df.shape)

(37786, 6)

In [9]:
# split genre and turn them into a list
df['Genre'] = df['Genre'].str.split('|')

In [10]:
#Binary encoding using MultiLabelBinarizer
from sklearn.preprocessing import MultiLabelBinarizer

mlb = MultiLabelBinarizer()

# Fit and transform the Genre column
genre_encoded = mlb.fit_transform(df['Genre'])

# Create a DataFrame with the encoded genres
encoded_df = pd.DataFrame(genre_encoded, columns=mlb.classes_)

df = pd.concat([df.reset_index(drop=True), encoded_df], axis=1)

In [11]:
#drop genre column
df = df.drop(columns=['Genre', 'Imdb Link', 'IMDB Score'])

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37786 entries, 0 to 37785
Data columns (total 31 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   imdbId       37786 non-null  int64
 1   Title        37786 non-null  object
 2   Poster       37786 non-null  object
 3   Action       37786 non-null  int64
 4   Adult        37786 non-null  int64
 5   Adventure    37786 non-null  int64
 6   Animation    37786 non-null  int64
 7   Biography    37786 non-null  int64
 8   Comedy       37786 non-null  int64
 9   Crime        37786 non-null  int64
 10  Documentary  37786 non-null  int64
 11  Drama        37786 non-null  int64
 12  Family       37786 non-null  int64
 13  Fantasy      37786 non-null  int64
 14  Film-Noir    37786 non-null  int64
 15  Game-Show    37786 non-null  int64
 16  History      37786 non-null  int64
 17  Horror       37786 non-null  int64
 18  Music        37786 non-null  int64
 19  Musical      37786 non-null  int64
 20  Mystery      37786 non-null  int64
 21  News         37786 non-null  int64
 22  Reality-TV   37786 non-null  int64
 23  Romance      37786 non-null  int64
 24  Sci-Fi       37786 non-null  int64
 25  Short        37786 non-null  int64
 26  Sport        37786 non-null  int64
 27  Talk-Show    37786 non-null  int64
 28  Thriller     37786 non-null  int64
 29  War          37786 non-null  int64
 30  Western      37786 non-null  int64
dtypes: int64(29), object(2)
memory usage: 8.9+ MB

In [13]:
df.to_csv("clean_MovieGenre.csv", index=False)